html,
body,
#root,
.login,
.content,
.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.login {
  background-color: #3374c5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  flex-direction: row;
  background-color: #f5f9fc;
  width: 100%;
  overflow: hidden;
}

main {
  flex: 1;
  overflow-y: auto;
  background-color: #f5f9fc;
}

::-webkit-scrollbar {
  /* width: 4px; */
  display: none;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

